@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	margin-top: 250px;
	margin-bottom: 150px;
	height: 100vh;
	display: grid;
	align-items: center;
	font-family: 'Poppins', sans-serif;
} */

.contact-wrap {
	margin-top: 100px;
	width: 100%;
	height: auto;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

.contact-in {
	margin: auto;
	padding: 20px;
	width: 70%;
	text-align: center;
}


.contact-in h1 {
	font-size: 30px;
	color: #66b3ff;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 20px;
}

.contact-in h2 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 15px;
}

.contact-in h2 i {
	font-size: 16px;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	background: #f5f5f5;
	color: #000;
	border-radius: 50px;
	line-height: 40px;
	text-align: center;
}

.contact-in p {
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 20px;
}

.contact-message
{
	width: 100%;
}

.contact-message form {
	width: 70%;
	margin:auto;
	text-align: center;
}

.contact-message input {
	width: 50%;
	height: 40px;
	margin-bottom: 20px;
	border: 1px solid black;
	outline: none;
	padding-left: 5px;
	background: transparent;
	color: black;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
	border-radius: 5px;
	text-align: center;
}



.contact-message textarea {
	width: 50%;
	height: 140px;
	margin-bottom: 20px;
	border: 1px solid black;
	outline: none;
	padding-top: 5px;
	padding-left: 5px;
	background: transparent;
	color:black;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
	border-radius: 5px;
}

.contact-in-btn {
	width: 50%;
	height: 40px;
	border: 2px solid gray;
	outline: none;
	background: transparent;
	color:black;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
	transition: 0.5s ease;
}
.contact-in-btn:hover
{
	background-color: chartreuse;
}

.contact-in-google{
	width: 100%;
	display: flex;
	margin-left: 10em;
}
.contact-in-google .address
{
	margin-left: 20px;
}
.contact-in-google .address iframe
{
	width: 500px;
	height: 300px;
}

@media only screen and (max-width:480px) {
	.contact-in:nth-child(1) {
		flex: 50%;
	}

	.contact-in:nth-child(2) {
		flex: 50%;
	}

	.contact-in:nth-child(3) {
		flex: 100%;
	}

}

@media only screen and (max-width:360px) {
	.contact-in:nth-child(1) {
		flex: 50%;
	}

	.contact-in:nth-child(2) {
		flex: 50%;
	}

	.contact-in:nth-child(3) {
		flex: 100%;
	}

}
/*Our Tteam*/

@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');


/* body{

  font-family: 'Josefin Sans', sans-serif;
} */

.wrapper{
  margin-top: 10%;
}

.wrapper h1{
  font-family: 'Allura', cursive;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  background: #fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
}

.team .team_member h3{
  color: #81c644;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color:  black;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 0px;
}
